*{
	margin: 0px;
	padding: 0px;

}
#contenedor{
	width: 1000px;
	height: 2000px;
	margin: 5px auto;
	background-color: white;
	border-radius: 10px;
}
#encabezado{
	width: 99%;
	height: 10%;
	margin: 5px;
	background-color: #79C3E4;
	border-radius: 10px;
}
#menu{
	width: 99%;
	height: 4%;
	margin: 5px;
	background-color: #CFF0FF;
	border-radius: 10px;
}
#seccion{
	width: 99%;
	height: 70%;
	margin: 5px;
	background-color: #ECECEC;
	border-radius: 10px;

}
#seccion2{
	width: 99%;
	height: 20%;
	margin: 5px;
	background-color: #ECECEC;
	border-radius: 10px;


}
#pie{
	width: 99%;
	height: 7%;
	margin: 7px;
	background-color: #A77ABF;
	border-radius: 10px;
}

#articulo1{
	width: 70%;
	height: 99%;
	margin: 5px;
	background-color: #E3CFFF;
	border-radius: 10px;
	float: left;
}

#articulo2{
	width: 25%;
	height: 95%;
	margin: 5px;
	background-color: #7F82D2;
	border-radius: 10px;
	float: right;

}




.nota{
	width: 40%;
	height:9%;
	margin: 5px;
	background-color: white;
	border-radius: 10px;
}