*{
	margin: 0px;
	padding: 0px;

}
#contenedor{
	width: 1000px;
	height: 1200px;
	margin: 5px auto;
	background-color: black;
	border-radius: 10px;
}
#encabezado{
	width: 99%;
	height: 10%;
	margin: 5px;
	background-color: #E8FF9B;
	border-radius: 10px;
}
#menu{
	width: 99%;
	height: 4%;
	margin: 5px;
	background-color: #98FF30;
	border-radius: 10px;
}
#seccion{
	width: 99%;
	height: 45%;
	margin: 5px;
	background-color: #E8FF9B;
	border-radius: 10px;
}
#pie{
	width: 99%;
	height: 40%;
	margin: 5px;
	background-color: #E8FF9B;
	border-radius: 10px;
}

#articulo1{
	width: 60%;
	height: 99%;
	margin: 5px;
	background-color: #B5FF6B;
	border-radius: 10px;
	float: left;
}

#articulo2{
	width: 35%;
	height: 95%;
	margin: 5px;
	background-color: #FBFF8A;
	border-radius: 10px;
	float: right;

}




.nota{
	width: 40%;
	height:9%;
	margin: 5px;
	background-color: green;
	border-radius: 10px;
}